h1{
    color:#000000;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.25;/*1.25x16px*/
    text-align: justify;/*left right center justify*/
    text-transform:lowercase;/*uppercase lowercase*/
    text-decoration: none;/*underline line-through overline none*/
    text-indent:10px;
    font-style:italic;
}
p{
    color:rgb(22,65,65);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.25;/*1.25x16px*/
    text-align: justify;/*left right center justify*/
    text-transform:lowercase;/*uppercase lowercase*/
    text-decoration: none;/*underline line-through overline none*/
    text-indent:10px;
    font-style:italic;

    width:500px;
}
body{
    background-color:rgb(200,250,242);
    background-image:url("../images/random1.jpg");
    background-size: cover;
}
div.background{
    background: url("../images/ppcat2.png")
    repeat;
    border: 2px solid black;
}
div.transbox{
    margin:30px;
    background-color: #ffffff;
    opacity:0.9;
}
div.transbox p {
    margin:5%;
    font-weight:bold;
    color:#000000;
}