body{
    background-color: rgb(153,87,87);
    font-family: sans-serif;
    font-weight: lighter;

}
section{
    background-color: rgb(230,130,130);
    width: 500px;
    height: 550px;

    border-radius: 25px;
    border: 2px;
    padding: 20px;
    margin: auto;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.boxmodel{
    border-radius: 2px 2px 0 0 ;
    background-color: rgb(224,224,224);
    margin:20px 0 0 0;
    width: 100%;

}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.splitbox{
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.splitboxin{
    text-align: left;
    color: #f6c7c7;
    margin: 10px;
    padding: 15px;
}
.splitboxin label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    line-height: 26px;
    margin-bottom: 10px;
}
.optional{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin: 0 0 0 10px;
    color: #f6c7c7;
}
.header1{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 24px;
    color: #f6c7c7;
    margin-left: 10px;
}